ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
#accordionMenu {
  a[data-toggle="collapse"]{
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    position: relative;
    &::after {
      content:"";
    display: block;
    width: 8px;
    height: 8px;
    border-top: #666 1px solid;
    border-right: #666 1px solid;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    }
  }
}
.user-profile-menu[aria-expanded=false]::after, #accordionMenu a[aria-expanded=false]::after{
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.user-profile-menu[aria-expanded=true]::after, #accordionMenu a[aria-expanded=true]::after{
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.user-profile-menu{
  // display: block;
  padding: 0.5rem 1rem 0.5rem 0;
  text-decoration: none;
  position: relative;
  color: black;
  &:hover {
    color: #FFB500;
    text-decoration: none;
  }
  &::after {
    content:"";
  display: block;
  width: 8px;
  height: 8px;
  border-top: #666 1px solid;
  border-right: #666 1px solid;
  position: absolute;
  right: -5px;
  top: 0;
  bottom: 0;
  margin: auto;
  }
}