.card {
  width: 80%;
  // margin: 0 auto;
}

.list-group {
  .list-group-item {
    display: flex;
    justify-content: space-between;
  }
}

/* プロフィールカード */
.profile-avatar-content {
  margin: auto;
  .profile-avatar {
    text-align: center;
  }
}

.card-meeting {
  text-decoration: none;
  color: black;
}
.card-meeting:hover {
  text-decoration: none;
  color: black;
}

.recruitment-card-tab, .application-card-tab {
  text-decoration: none;
  color: black;
  &:hover {
    color: #FFB500;
  }
}