$red: #FF2020;
$yellow: #FFB500;
$orange: #CA692A;
$gray: #4D4D4C;

html {
  height: 100%;
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// * {
//   font-family: "Lato", sans-serif;
// }

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}




/* トップページ */


main {
  .top-first-page {
    text-align: center;
    padding-top: 2.0rem;
    background-color: gray;
    height: 100vh;
    .container {
      .top-logo {
        width: 300px;
        height: 300px;
        margin-top: 2.5rem;
      }
      .top-button-content{
        margin-top: 1.5rem;
        .sign-up-button {
          border-color: $orange;
          color: $orange;
          margin-right: 0.8rem;
          outline: none;
          &:hover {
            background-color: $orange;
            color: white;
          }
        }
        .login-button {
          margin-left: 0.8rem;
        }
      }
    }
  }
}



.navbar-brand {
  letter-spacing: 0.2rem;
  &:link, &:visited, &:hover, &:active {
    color: black
  }
}

.nav-link {
  &:hover {
    color: $red;
  }
}

.top-content {
  height: 0;
  width: 100%;
}

/* サイドバー */

.list-group {
  position: sticky;
  padding-top: 50px;
  top: 70px;
}

.list-group-item {
  font-weight: bold;
  .list-action {
    &:link, &:visited, &:active {
      color: black;
      text-decoration: none;
    }
    &:hover {
      color: $orange;
    }
  }
}

/* メインコンテンツ */

/* number_fieldカスタマイズ */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
  -moz-appearance:textfield;
  width: 100px;
}

/* タグ */

.tag-content {
  label {
    display: block;
    margin: 1.5px 0;
    padding : 11px 12px;
    font-weight: bold;
    cursor :pointer;
    transition: all 0.5s;
  }
  input {
    display: none;
  }
  .tag-list {
    display:inline-flex;
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
  }
}

.tag-category:checked + .tag-list {
  height: auto;
  padding: 5px;
  opacity: 1;
}

.bootstrap-tagsinput {
  cursor: pointer;
}


/* プラン検索 */

.meeting-search-form {

  .date-search-form {
    display: flex;
    /* 日付 */
    .date-search {
      display: flex;
      border-radius: 3px;
      overflow: hidden;
      border: 1px solid #b6b6b6;
      width: 40%;
      height: 20%;
      margin-bottom: 10px;
      div {

        position: relative;
        flex: 1;

        input {
          width: 100%;
          height: 60px;
          opacity: 0;
        }
      
        label {
          position: absolute;
          top: 0; left: 0;
          color: #b6b6b6;
          width: 100%;
          height: 100%;
          background: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          pointer-events: none;
          border-right: 1px solid #b6b6b6;
        }
      
        div:last-child label {
          border-right: 0;
        }
      
        input:checked + label {
          background: $yellow;
          font-weight: 500;
          color: #fff;
        }
      }

    }

    .week-button {
      position: relative;
      display: flex;
      // padding-left: 40px;
      // margin-bottom: 20px;
      cursor: pointer;
    
      &:before {
        content: '';
        width: 18px;
        height: 18px;
        border: 0px;
        border-top: solid 2px $gray;
        border-right: solid 2px $gray;
        top: 50%;
        left: 0;
        margin-top: -4px;
      }
    }
  }
}

#nextWeekButton {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 20px;
}

#beforeWeekButton {
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-bottom: 34px;
}