<div class="messsage">
  <div class="message-header">
    <p class="message-user">
      <%= message.user.name %>
    </p>
    <p class="message-datetime">
      <%= message.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
    </p>
  </div>
  <div class="message-body">
    <p class="message-content">
      <%= message.content if message.content.present? %>
    </p>
  </div>
</div>
