<%= render 'search_form' %>

<div id="meetingPaginate">
  <%= render "index_search_result" %>
</div>
<%= javascript_bundle_tag "meetings_index" %>
<script>

function beforeLoad() {
  document.getElementById('loading').classList.remove('loaded');
}

function completeLoad() {
  document.getElementById('loading').classList.add('loaded');
};

completeLoad();

$(".loading-link").click(function() {
  beforeLoad();
});

$("form").submit(function() {
  beforeLoad();
})

window.onload = completeLoad;
</script>