<div>
  <%= @meeting.planning_user.name %>
  <%= @meeting.place.name %>
</div>
<% unless current_user?(@meeting.planning_user) %>
  <div id="meeting_application_form"><%= render "meeting_application_form" %></div>
<% end %>
