<div>
  <h5>電話番号認証</h5>
  <%= form_with( url: sms_identifications_send_code_path, local: true) do |f| %>
    <%= f.telephone_field :phone_number %>
    <%= f.submit '送信', class: 'btn btn-yellow' %>
  <% end %>
</div>
