<div class="text-center">
  <h5>SMS認証</h5>
  <div class="pt-3">
    <p>届いた6桁の認証コードを入力してください</p>
    <%= form_with( url: sms_identifications_check_code_path, local: true) do |f| %>
      <%= f.number_field :auth_code %>
      <%= f.submit '送信', class: 'ml-3 btn btn-yellow' %>
    <% end %>
  </div>
</div>

