@charset "UTF-8";
html {
  height: 100%;
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  width: 100%; }

/* トップページ */
main .top-first-page {
  text-align: center;
  padding-top: 2.0rem;
  background-color: gray;
  height: 100vh; }
  main .top-first-page .container .top-logo {
    width: 300px;
    height: 300px;
    margin-top: 2.5rem; }
  main .top-first-page .container .top-button-content {
    margin-top: 1.5rem; }
    main .top-first-page .container .top-button-content .sign-up-button {
      border-color: #CA692A;
      color: #CA692A;
      margin-right: 0.8rem;
      outline: none; }
      main .top-first-page .container .top-button-content .sign-up-button:hover {
        background-color: #CA692A;
        color: white; }
    main .top-first-page .container .top-button-content .login-button {
      margin-left: 0.8rem; }

.navbar-brand {
  letter-spacing: 0.2rem; }
  .navbar-brand:link, .navbar-brand:visited, .navbar-brand:hover, .navbar-brand:active {
    color: black; }

.nav-link:hover {
  color: #28a745; }

.top-content {
  height: 0;
  width: 100%; }

/* サイドバー */
.list-group {
  position: sticky;
  padding-top: 50px;
  top: 70px; }

.list-group-item {
  font-weight: bold; }
  .list-group-item .list-action:link, .list-group-item .list-action:visited, .list-group-item .list-action:active {
    color: black;
    text-decoration: none; }
  .list-group-item .list-action:hover {
    color: #28a745; }

/* メインコンテンツ */
/* number_fieldカスタマイズ */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield;
  width: 100px; }

/* タグ */

