<h3>プラン申請一覧</h3>
<div class="card mb-3 mt-3">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a href="#recruitmentCard" class="nav-link active recruitment-card-tab" data-toggle="tab">作成プラン</a>
      </li>
      <li class="nav-item">
        <a href="#applicationCard" class="nav-link application-card-tab" data-toggle="tab">申請先プラン</a>
      </li>
    </ul>
  </div>
    <div class="tab-content">
      <div id="recruitmentCard" class="tab-pane active card-body">
        <%= render 'index_recruitment' %>
      </div>
      <div id="applicationCard" class="tab-pane card-body">
        <%= render 'index_meeting_application' %>
      </div>
    </div>
  </div>
</div>

<script>

function beforeLoad() {
  document.getElementById('loading').classList.remove('loaded');
}

function completeLoad() {
  document.getElementById('loading').classList.add('loaded');
};

completeLoad();
$(".loading-link").click(function() {
  beforeLoad();
});
$("form").submit(function() {
  beforeLoad();
})
window.onload = completeLoad;

</script>