<div id='pagenate'>
  <div>作成したプラン一覧</div>
  <div><%= current_user.meetings.count %>件のプランがあります</div>
  <% if @meetings.any? %>
    <ul>
    <% @meetings.each do |meeting| %>
    <li id='meeting-<%= meeting.id %>'>
      <%= link_to(meeting.meet_at.strftime("%Y/%m/%d(%a) %H:%M"), meeting_meeting_applications_path(meeting), class: 'list-action') %>
    </li>
    <% end %>
  </ul>
  <%= paginate @meetings, remote: true %>
  <% end %>
</div>