<h4><%= @meeting.meet_at.strftime("%Y/%m/%d(%a) %H:%M") + @meeting.place.name %>の申請一覧</h4>

<% if @meeting_applications.any? %>
  <% @meeting_applications.each do |ma| %>
    <%= link_to( ma.applicant.name, meeting_meeting_application_path(@meeting, ma) ) %>
  <% end %>
<% end %>
<script>

function beforeLoad() {
  document.getElementById('loading').classList.remove('loaded');
}

function completeLoad() {
  document.getElementById('loading').classList.add('loaded');
};

completeLoad();

$(".loading-link").click(function() {
  beforeLoad();
});

$("form").submit(function() {
  beforeLoad();
})

window.onload = completeLoad;
</script>