<h4><%="#{@meeting.meet_at.strftime("%-m月%-d日") + calculate_day_of_week(@meeting.meet_at)}
      #{@meeting.meet_at.strftime("%-H時%-M分")}〜の申請一覧"%></h4>

<% if @meeting_applications.any? %>
  <%= paginate @meeting_applications, remote: true %>
  <div id="meetingApplicationPaginate" class="pb-3">
    <% @meeting_applications.each do |ma| %>
      <%= render 'meeting_application', ma: ma %>
    <% end %>
  </div>
<% else %>
  <div>現在、プラン申請はありません。</div>
<% end %>

<script>

function beforeLoad() {
  document.getElementById('loading').classList.remove('loaded');
}

function completeLoad() {
  document.getElementById('loading').classList.add('loaded');
};

completeLoad();

$(".loading-link").click(function() {
  beforeLoad();
});

$("form").submit(function() {
  beforeLoad();
})

window.onload = completeLoad;
</script>