  <div class="modal fade" id="meetingApplicationModal" tabindex="-1" role="dialog" aria-labelledby="meetingApplicationModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <%= form_with(model: [@meeting, current_user.meeting_applications.build], remote: true) do |f| %>
        <div class="modal-header">
          <h5 class="modal-title" id="meetingApplicationModal">申請内容</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="pb-2" id='error_explanation'></div>
          <div class="flex-textarea">
            <div class="flex-textarea__dummy" aria-hidden="true"></div>
            <%= f.text_area :detail, autofocus: true, autocomplete: "introduction", id: 'flexTextarea',
                          class: "text-field text-area-field flex-textarea__textarea", placeholder: "参加メンバーの年齢や職業\n意気込みなど" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit '送信', class: "btn btn-yellow", id: "meetingApplicationSubmit" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<%=javascript_bundle_tag 'textarea' %>

<script>
$(document).on('ajax:beforeSend', 'form', function() {
  if ($('form').find('textarea').val().length === 0) {
    document.getElementById('loading').classList.add('loaded');
    $('#error_explanation').text('詳細情報は800文字以内で入力してください。');
    return false;
  } else {
    $("#meetingApplicationSubmit").click( function() {
      $('#meetingApplicationModal').modal('hide');
    })
  }
})
</script>
