
<main class="top-first-page container-fluid d-flex align-items-center">
  <header><%= render 'layouts/nav' %></header>
  <div class="row pl-5 mb-5 my-auto">
    <div class="col top-content flex-column">
      
      <div class="top-button-content">
      <% if user_signed_in? %>
        <%= link_to(t('.make_meeting'), home_user_path(current_user.id), class: "btn btn-lg btn-outline-success") %>
      <% end %>
      </div>
    </div>
  </div>
</main>
<%= render "users/registrations/auth_select_modal" %>
