<h3>メッセージ一覧</h3>
<% @rooms.each do |room| %>
  <% room.users.each do |user| %>
    <div>
      <%= link_to(user.name, room_path(room.id)) unless user == current_user %>
    </div>
  <% end %>
<% end %>
<script>
function beforeLoad() {
  document.getElementById('loading').classList.remove('loaded');
}

function completeLoad() {
  document.getElementById('loading').classList.add('loaded');
};

completeLoad();

$(".loading-link").click(function() {
  beforeLoad();
});

$("form").submit(function() {
  beforeLoad();
})

window.onload = completeLoad;
</script>