<h3>メッセージ一覧</h3>
<% @message_rooms.each do |mr| %>
  <% mr.users.each do |user| %>
    <div>
      <%= link_to(user.name, room_path(mr.id)) unless user == current_user %>
    </div>
  <% end %>
<% end %>