<% unless flash.empty? %>
  <% flash.each do |flash_type, message| %>
    <div class="alert-box">
      <div class="alert alert-<%= bootstrap_alert(flash_type) %>">
        <strong class="alert-message"><%= message %></strong>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="alert-box">
  </div>
<% end %>